@use "./base.scss";

// put your custom CSS here!
.graph-outer {
  circle {
    r: 12px !important;       /* 12px이면 이제 못 볼 수가 없습니다 */
    fill: #39a2db !important;  /* 눈에 잘 띄는 파란색 */
    opacity: 1 !important;
  }
  text {
    font-size: 1.2rem !important; /* 글자도 대왕만하게 */
    fill: var(--dark) !important;
  }
}